    <section id="agenda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Agenda</h1>
                    <p class="section-subheading" style="text-align: center">
                    Fique por dentro do que está acontecendo e participe de nossas atividades!
                    </p>
                </div>
            </div>
              <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06/2016</h4>
                                    <h4 class="subheading">Primeira Oficina Aberta de Eletrônica e Programação</h4>
                                </div>
                                <div class="timeline-body">
                                    <p >
                                    Venha aprender sobre eletrônica e programação de um jeito fácil e descomplicado.
                                    Nesta oficina você vai aprender a mexer com os circuitos básicos e começar a desenvolver seus próprios projetos de robótica, automação residencial e música!
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
