<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top"><img src="/images/logo.png"/>{{site.title}}</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#sobre" class="page-scroll">Sobre</a></li>
        <li><a href="#agenda" class="page-scroll">Agenda</a></li>
        <li><a href="#contact" class="page-scroll">Contato</a></li>
        <li><a href="https://www.facebook.com/Fab-Lab-Joinville-1706448176289255"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
