<!-- About Section -->
    <section id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">O que é</h1>
                    <p class="section-subheading">
                    O Fab Lab Joinville é um lugar que promove o encontro entre profissionais e estudantes, makers e especialistas, empresas e entusiastas. A Associação Fab Lab Joinville é um laboratório de fabricação digital onde as pessoas se encontram para transformar ideias em coisas. Nosso espaço contém a inteligência, o acesso a máquinas e ferramentas necessárias para o desenvolvimento de projetos e ideias que podem mudar você, sua comunidade, sua empresa e, porque não, o mundo!
                    </p>
                    <p class="section-subheading">
                    O laboratório está em fase de gestão. Estamos trabalhando para transformar este projeto em realidade.
                    </p>
                    <p class="section-subheading">
                    Quer apoiar o Fab Lab? Tem algo para doar? Quer fazer uma parceria?
                    Entre em contato através do email <a href="#">fablab.joinvalle@gmail.com</a> e
                    nos conte um pouco sobre o que está pensando!
                    </p>
                </div>
            </div>
        </div>
    </section>
